
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}






.status-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.status-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.status-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.status-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}


.letsencrypt-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.letsencrypt-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.letsencrypt-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.letsencrypt-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}


.clever-enter {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
}
.clever-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 300ms ease-out;
}
.clever-exit {
  opacity: 1;
  transform: scale(1) translateY(0%);
}
.clever-exit-active {
  opacity: 0.01;
  transform: scale(0.9) translateY(50%);
  transition: all 300ms ease-out;
}