body {
  padding-top: 60px;
  padding-bottom: 20px;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #373735;
  color: #b5b3b3;
}

a, a:hover {
    color: #c8d400;
}

h1{
  font-size: 24px;
  color : #c8d400;
}

h3{
  font-size: 36px;
}

.fa--margin-right{
  margin-right: 5px;
}

.logo_dashboard {
    margin-top: 30px;
    width: 240px;
}

.fixedTitle {
  position: fixed;
  background-color: #373735;
  width: 100%;
  z-index: 110;
  margin-left: -25px;
  margin-top: -10px;
  + div {
      padding-top: 88px;
      width: 100%;
  }
}

.page-header {
    color: #c8d400;
    padding-bottom: 9px;
    margin: 22px 45px 20px;
    border-bottom: 1px solid #c8d400;
}

@media screen and (max-width: 767px) {
  .main{
    margin-top: 50px;
  }
}
